{% extends 'base.html' %}

{% block title %}
<title>ვალუტის დამატება</title>
{% endblock %}

{% block content %}
<br>
<h4 style="max-width: 500px;
        width: 50%;
        background-color: #f9f9f9;
        padding: 10px;
        margin-left: 550px;
        margin-top: 1px;
        margin-bottom: 30px;
        border-radius: 5px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
        text-align: center;"><b>შეიყვანეთ მონაცემი, რომლის დამატებაც გსურთ ბაზაში</b></h4>

<form method="get">
    <div style="margin-bottom: 15px; margin-left: 450px">
        <label for="currency" style="font-weight: bold; display: block; margin-bottom: 5px;">შეიყვანეთ ვალუტა:</label>
        <input type="text" id="currency" name="currency" style="width: calc(13% - -43px); padding: 8px; font-size: 14px; border: 1px solid #ccc; border-radius: 4px;" required>
    </div>
    <div style="margin-bottom: 15px; margin-left: 450px">
        <label for="date" style="font-weight: bold; display: block; margin-bottom: 5px;">შეიყვანეთ თარიღი (YYYY-MM-DD):</label>
        <input type="text" id="date" name="date" style="width: calc(13% - -43px); padding: 8px; font-size: 14px; border: 1px solid #ccc; border-radius: 4px;" required>
    </div>
    <button type="submit" style="padding: 10px 20px; margin-left: 450px; font-size: 16px; background-color: #4CAF50; color: white; border: none; border-radius: 4px; cursor: pointer;">დამატება</button>
</form>

{% with messages = get_flashed_messages() %}
    {% for msg in messages %}
        <p style="background-color: #f9f9f9;
                  margin-left: 600px;
                  margin-top: 30px;
                  border: 1px solid #ccc;
                  border-radius: 8px;
                  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                  padding: 20px;
                  text-align: center;
                  max-width: 400px"> <b>{{ msg }}</b> </p>
    {% endfor %}
{% endwith %}

{% endblock %}