{% extends 'base.html' %}

{% block title %}
<title>ქართული ბონი</title>
{% endblock %}

{% block content %}

<div style="text-align: center;
            margin: 20px auto;
            display: block;">
    <img src="https://nationalgeographic.ge/app/uploads/2020/07/MG_3575-1024x576.jpg"
         style="max-width: 100%;
                height: 320px;">
</div>

<p style="text-align: justify;
          font-family: Arial, sans-serif;
          line-height: 1.6;
          margin: 20px;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          background-color: #f9f9f9;">
    <b>ქართული ბონი</b> — 1919 წლიდან ბრუნვაში იყო საქართველოს დემოკრატიული რესპუბლიკის ფულის ბონები, რომელთა წარწერებიც
    ქართული იყო, თუმცა უკანა მხარეს რუსულ-ფრანგული წარწერებიც ჰქონდა. ბონებს ახლდა მთავრობის თავმჯდომარისა და ფინანსთა
    მინისტრის ხელმოწერები. ქართული ბონი მიმოქცევაში იყო 1921 წლამდე საბჭოთა რუსეთის მიერ საქართველოს ოკუპაციამდე.
</p>

<p style="text-align: justify;
          font-family: Arial, sans-serif;
          line-height: 1.6;
          margin: 20px;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          background-color: #f9f9f9;">
    წიგნი - კატალოგის <b>"ქართული ბონი 1918-1921</b>" მთავარი მიზანია საზოგადოებას უამბოს ამიერკავკასიის კომისარიატისა და საქართველოს
    დემოკრატიული რესპუბლიკის მიერ გამოშვებული ქაღალდის ფულის ნიშნების შესახებ. ვიზუალურ მასალასთან ერთად ნაშრომში განხილულია
    1918-1921 წლებში საქართველოში მიმდინარე ფულად-საკრედიტო ისტორია. კატალოგი ასევე ხელს შეუწყობს ქართული ფულის ისტორიით,
    განსაკუთრებით კი ქართული ბონისტიკით დაინტერესებული საზოგადოების ინფორმირებას.
</p>

<div class="d-flex justify-content-center">
    <a style="text-align: justify;
          font-family: Arial, sans-serif;
          margin: 20px;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px"
       class="btn btn-outline-secondary" href="/catalog1" role="button"><b>ქართული ბონის კატალოგი</b></a>
</div>

{% endblock %}