{% extends 'base.html' %}

{% block title %}
<title>ქართული კუპონი</title>
{% endblock %}

{% block content %}

<div style="text-align: center;
            margin: 20px auto;
            display: block;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/3/30/1_%D0%BA%D1%83%D0%BF%D0%BE%D0%BD_%D0%BB%D0%B0%D1%80%D0%B8._2._1993.jpg"
         style="max-width: 100%;
                height: 320px;">
</div>

<p style="text-align: justify;
          font-family: Arial, sans-serif;
          line-height: 1.6;
          margin: 20px;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          background-color: #f9f9f9;">
    <b>ქართული კუპონი</b> —  საქართველოს ფულის ერთეული 1993 წლის 5 აპრილიდან 1995 წლის 2 ოქტომბრამდე. 1993 წლის
    20 აგვისტოდან წარმოადგენდა გადახდის ერთადერთ კანონიერ საშუალებას საქართველოს ტერიტორიაზე. თავდაპირველად კურსი რუბლის
    თანაბარი იყო, სწორედ რომლის შემცვლელიც იყო ეს ვალუტა. გამოდიოდა მხოლოდ ბანკნოტები, რაოდენობით 1-დან 1 000 000 კუპონამდე
    (მათ შორის მეტად უცნაური ნომინალებით — 3, 3000, 30 000, 150 000 კუპონი). კუპონი ჰიპერინფლაციის ქვეშ ექცეოდა და შეცვლილ
    იქნა ახალი ეროვნული ვალუტის მიერ (ლარი).
</p>

<p style="text-align: justify;
          font-family: Arial, sans-serif;
          line-height: 1.6;
          margin: 20px;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          background-color: #f9f9f9;">
    წარმოდგენილი კატალოგი, 1993-1995 წლებში საქართველოში მიმოქცევაში არსებულ ქართულ კუპონს ეძღვნება. ვიზუალურ მასალასთან ერთად
    წარმოდგენილია კუპონის აღწერილობა, ტექნიკური მახასიათებლები და სხვა მონაცემები. აღნიშნული გამოცემა განკუთვნილია ქართული ფულის
    ისტორიით დაინტერესებული საზოგადოებისა და კოლექციონერებისთვის.
</p>

<div class="d-flex justify-content-center">
    <a style="text-align: justify;
          font-family: Arial, sans-serif;
          margin: 20px;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px"
       class="btn btn-outline-secondary" href="/catalog2" role="button"><b>ქართული კუპონის კატალოგი</b></a>
</div>

{% endblock %}