<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>შეცდომა</title>
</head>
<body>
<p style="text-align: justify;
          font-family: Arial, sans-serif;
          line-height: 1.6;
          margin: 20px;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          background-color: #f9f9f9;
          width: calc(32% - 12px);">
    <b>დაფიქსირდა შეცდომა. გთხოვთ, დაბრუნდეთ საწყის გვერდზე.</b>
</p>
</body>
</html>